@model IEnumerable<ProjectFUEN.Models.EFModels.OrderItemVM>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Order.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.ProductSpec)
            </td>

                
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.OrderId }) |
                @Html.ActionLink("Details","Details", new { id=item.OrderId  }) |
                @Html.ActionLink("Delete", "Delete", new {  id=item.OrderId  })
            </td>
        </tr>
}
    </tbody>
</table>
