@using ProjectFUEN.Models.EFModels;
@model ProjectFUEN.Models.EFModels.Event

@{
    ViewData["Title"] = "Details";
    //Event e = Model;
    //List<Product> products = Model.Products.ToList();
}

<h1>Details</h1>

<div>
    <h4>Event</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EventName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EventName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Photo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Photo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>


        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.Products.ToArray()[0])*@
            @*@products[0].ProductSpec*@
        </dt>
        <dd class="col-sm-10">
            @*@products[0].Price*@
            @* @Html.DisplayFor(model => model.Products.ToArray()[0])*@
        </dd>
        }

    </dl>

</div>

<table class="table">
    <thead>
        <tr>
            <td>產品名稱</td>
            <td>產品規格</td>
            <td>價格</td>
        </tr>
    </thead>

    <tbody>
    @foreach (var item in Model.Products)
    {
        <tr>
            <td>小魚</td>
            <td>@item.ProductSpec</td>
            <td>@item.Price</td>
        </tr>
    }
    </tbody>
</table>

<div>
    <input type="submit" value="Edit" class="btn btn-primary" />
</div>
<br />
<div>
    <a asp-action="Index">返回活動總覽</a>
</div>
