@model IEnumerable<ProjectFUEN.Models.EFModels.Event>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EventName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Photo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EventName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Photo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                @*<a asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@
                <a class="Delete" id=@item.Id eventName=@item.EventName style="cursor:pointer">刪除</a>
            </td>
        </tr>
}
    </tbody>
</table>

@section Scripts {
    <script>
        $(".Delete").on("click",function(){
            let eventName = $(this).attr("eventName");
            let eventId = $(this).attr("id");

                Swal.fire({
                title: '確定要刪除嗎?',
                text: "活動名稱 : "+eventName,
                icon: 'error',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: '是的',
                cancelButtonText: '取消'
                }).then((result) => {
                    if (result.isConfirmed) {
                    Swal.fire(
                        '已刪除',
                        '已刪除活動名稱',
                        'success'
                    ).then((result) => {
                            history.go(0);
                    })
                                $.ajax({
                            type: "Delete",
                            url: "https://localhost:7027/Event/Delete",
                            data: { id: eventId }
                        }).done(function (data) {

                        }).fail(function (err) {
                            alert(err.statusText)
                        })

                    }
                })

                    
        })
    </script>
}
