@model ProjectFUEN.Models.ViewModels.InstructorVM

@{
	ViewData["Title"] = "Details";
}

<div class="d-flex p-2 align-items-center">
	<h1>講師詳情</h1>
	<div class="ms-5">
		<a type="submit" asp-action="Edit" asp-route-id="@Model?.Id"><i class="fa-regular fa-pen-to-square text-black fs-5"></i></a> |
		<a id="@Model.Id" class="delete"><i class="fa-regular fa-trash-can text-black fs-5"></i></a> |
		<a asp-action="Index"><i class="fa-solid fa-list-ul text-black fs-5"></i></a>

	</div>

</div>
<hr />
<div class="col-lg-4 col-12 p-2">


	<dl class="col-12 ">
		<div class="row my-2">
			<dt class="col-sm-2">
				@Html.DisplayNameFor(model => model.InstructorName)
			</dt>
			<dd class="col-sm-10">
				@Html.DisplayFor(model => model.InstructorName)
			</dd>
		</div>
		<div class="row my-2">
			<dt class="col-sm-2">
				講師圖片
			</dt>
			<dd class="col-sm-10">
				<img id="preview" style="width:400px;height:300px;object-fit:cover" src="@Model.ResumePhoto" />
			</dd>
		</div>
		<div class="row my-2">
			<dt class="col-sm-2">
				@Html.DisplayNameFor(model => model.Description)
			</dt>
			<dd class="col-sm-10">
				@Html.DisplayFor(model => model.Description)
			</dd>
		</div>

	</dl>
</div>

@section Scripts{
	<script>
		$(".delete").on('click', function () {


            Swal.fire({
                title: '確定刪除?',
                icon: 'error',
                iconHtml: `<i class="fa-regular fa-trash-can"></i>`,
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: '確定',
                cancelButtonText: '取消',
                reverseButtons: true
				
			}).then((result) => {
				if (result.isConfirmed) {
					let deleteid = $(this).attr("id");

					//HTTPDELETE

					$.ajax({
						type: "DELETE",
						url: "https://localhost:7027/Instructor/Delete/" + deleteid
					})
						.done(function (data) {
							window.location.assign("https://localhost:7027/Instructor/Index")
						})
						.fail(function (err) { });

				} 
			})
		})
	</script>

}