@model IEnumerable<ProjectFUEN.Models.ViewModels.InstructorVM>

@{
	ViewData["Title"] = "講師列表";
}


<div class="d-flex no-print align-items-center p-2">
	<h1 class="no-print">講師列表</h1>
	<button class="btn btn-primary ms-5">
		<a class="text-center text-white text-decoration-none" asp-action="Create">新增</a>
	</button>
</div>

<hr>
	<div class="row d-flex flex-wrap p-2" >
		@foreach (var item in Model)
		{
			<div class="col-lg-3 col-md-4 col-12">
				<div class="card" style="width:100%;">
					<a asp-action="Details" asp-route-id="@item.Id"><img class="card-img-top" style="width:100%;height:200px;object-fit:cover" src="@item.ResumePhoto" alt="講師圖片" referrerpolicy="no-referrer"></a>
					<div class="card-body">
						<h4 class="card-title">@item.InstructorName</h4>
						<p class="card-text">@item.Description</p>
						<div class="d-flex justify-content-end">
							<div>
								<a asp-action="Edit" asp-route-id="@item.Id"><i class="fa-regular fa-pen-to-square text-black fs-5"></i></a>
								<a id="@item.Id" class="delete"><i class="fa-regular fa-trash-can text-black fs-5"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		}
	</div>


@section Scripts{
	<script>
		let cardText = $(".card-text");
		//console.log(cardText);
		for (let i = 0; i < cardText.length; i++) {
			let str = cardText[i].innerText;
			//console.log(str.length);

			if (str.length >= 8) {
				let newStr = cardText[i].innerText.slice(0, 12) + " ...";
				cardText[i].innerText = newStr;
			}
		}

		$(".delete").on('click', function () {


            Swal.fire({
                title: '確定刪除?',
                icon: 'error',
                iconHtml: `<i class="fa-regular fa-trash-can"></i>`,
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: '確定',
                cancelButtonText: '取消',
                reverseButtons: true
			}).then((result) => {
				if (result.isConfirmed) {
					let deleteid = $(this).attr("id");

					//HTTPDELETE
					$.ajax({
						type: "DELETE",
						url: "https://localhost:7027/Instructor/Delete/" + deleteid
					})
						.done(function (data) {
							history.go(0);
						})
						.fail(function (err) { });

				} 
			})
		})
	</script>
}