@model IEnumerable<ProjectFUEN.Models.ViewModels.BlackListVM>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div>
    <span>EmailAccount:</span>
    <input type="text" id="searchText">
    <button id="search">Search</button>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EmailAccount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RealName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="tbody">
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EmailAccount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RealName)
            </td>
            <td>
               <button id="@item.Id" class="btn-primary delete">Delete</button>
            </td> 
        </tr>
}
    </tbody>
</table>

@section Scripts {
    <script>
        // Search button
        $("#search").on("click", function () {
            let searchText = $("#searchText").val();

            $.ajax({
                type: "GET",
                url: `https://localhost:7027/BlackLists/GetBackListMembers?account=${searchText}`
            }).done(function (data) {
                showTable(data);
            }).fail(function (err) {
                console.log(err.statusText)
            })
        })

        // Show
        function showTable(data) {
            $("#tbody").empty();

            for (let item of data) {
                let tbody = $(`<tr id="${item.id}">
                                <td>
                                    ${item.emailAccount}
                                </td>
                                <td>
                                    ${item.realName}
                                </td>
                                <td>
                                    <button id="${item.id}" class="btn-primary delete">Delete</button>
                                </td>
                            </tr>`)

                $("#tbody").append(tbody);
            }
        }
    </script>
}
