@model IEnumerable<ProjectFUEN.Models.EFModels.ProductPhoto>
@*@model IEnumerable<ProjectFUEN.Models.VM.ProductPhotoVM>*@
@{
    ViewData["Title"] = "產品圖";
    int id = Model.ToList()[0].ProductId;
}

<h1>
    <b>商品圖片管理</b>
</h1>
<p>
    <a href='@Url.Action("Create", "ProductPhotoes", new {Id=id})' class="btn btn-info">新增</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                商品編號
            </th>
            <th>
                商品圖檔
            </th> 
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductId)
                </td>
          @*   <td>
                @Html.DisplayFor(modelItem => item.Product.Name)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Source)
            </td>
                 <td>
                      <p class="text-danger">@ViewBag.photoError</p>
                    <img id="preview" style="max-height:200px;" src="/ProductImgFiles/@item.Source" />
                    </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id" class="d-flex w-100">@Html.DisplayFor(modelItem => item.Product.Name)</a>

                </td>
         

                    <td>  
                    @Html.ActionLink("修改", "Edit", new { id=item.Id }, new { @class = "btn btn-primary" }) 
                    @*@Html.ActionLink("明細", "Details", new { id=item.Id }, new { @class = "btn btn-warning" })*@
                    @Html.ActionLink("刪除", "DeleteoOneSelf", new { id=item.Id }, new { @class = "btn btn-danger",@onclick="return Confirm_Form()" })
                </td>
        </tr>
}
    </tbody>
</table>
<script>
    function Confirm_Form() {
        if (!confirm("您確定要刪除嗎?"))
            return false;
    }
</script>


