@model IEnumerable<ProjectFUEN.Models.ViewModels.ActivityCategoryVM>

@{
    ViewData["Title"] = "拍攝類型列表";
}


<div class="d-flex no-print align-items-center p-2">
    <h1 class="no-print">拍攝類型列表</h1>
    <button class="btn btn-primary ms-5">
        <a class="text-center text-white text-decoration-none" asp-action="Create">新增</a>
    </button>
</div>
<hr>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DisplayOrder)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DisplayOrder)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-DisplayOrder="@item.DisplayOrder"><i class="fa-regular fa-pen-to-square"></i></a> |
                    <a asp-action="Delete" asp-route-DisplayOrder="@item.DisplayOrder"><i class="fa-regular fa-trash-can"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>

@section Scripts{
    <script>

    </script>

}