@model IEnumerable<ProjectFUEN.Models.ViewModels.ActivityCategoryVM>

@{
    ViewData["Title"] = "拍攝類型列表";
}


<div class="d-flex no-print align-items-center p-2">
    <h1 class="no-print">拍攝類型列表</h1>
    <button class="btn btn-primary ms-5">
        <a class="text-center text-white text-decoration-none" asp-action="Create">新增</a>
    </button>
</div>
<hr>
<div class="p-2">
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DisplayOrder)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DisplayOrder)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
                <td class="d-flex">
                    <a asp-action="Edit" asp-route-DisplayOrder="@item.DisplayOrder"><i class="fa-regular fa-pen-to-square text-black fs-5 me-4"></i></a>
                    <a id="@item.Id" class="delete"><i class="fa-regular fa-trash-can text-black fs-5"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>
@section Scripts{
    <script>
        $(".delete").on('click', function () {


            Swal.fire({
                title: '確定刪除?',
                icon: 'error',
                iconHtml: `<i class="fa-regular fa-trash-can"></i>`,
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: '確定',
                cancelButtonText: '取消',
                reverseButtons: true
			}).then((result) => {
				if (result.isConfirmed) {
					let deleteid = $(this).attr("id");
					console.log(deleteid)
					//HTTPDELETE
					$.ajax({
						type: "DELETE",
						url: "https://localhost:7027/ActivityCategory/Delete/" + deleteid
					})
						.done(function (data) {
							history.go(0);
						})
						.fail(function (err) { });

				} 
			})
		})
    </script>

}