@model ProjectFUEN.Models.EFModels.Product

@{
    ViewData["Title"] = "Details";
}

<h1>  <b>商品管理-明細</b></h1>

<div>
    
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            商品名稱
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            價格
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            製造日期
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ManufactorDate)
        </dd>
        <dt class = "col-sm-2">
            上架日期
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReleaseDate)
        </dd>
        <dt class = "col-sm-2">
            庫存量
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Inventory)
        </dd>
        <dt class = "col-sm-2">
            產品明細
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductSpec)
        </dd>
        <dt class = "col-sm-2">
           商品品牌
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Brand.Name)
        </dd>
        <dt class = "col-sm-2">
            商品分類
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
