@model IEnumerable<ProjectFUEN.Models.EFModels.Activity>

@{
    ViewData["Title"] = "活動總覽";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ActivityName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            
            <th>
               報名人數
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.GatheringTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Deadline)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfCreated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category.CategoryName)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.Instructor.InstructorName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            
            <td>
                @Html.DisplayFor(modelItem => item.ActivityName)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            
            <td>報名人數</td>
            
            <td>
                @Html.DisplayFor(modelItem => item.GatheringTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Deadline)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfCreated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Instructor.InstructorName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
