@model IEnumerable<ProjectFUEN.Models.EFModels.OrderDetail>

@{
    ViewData["Title"] = "Index";
    var accountname = ViewBag.accountname as string;
    
}

<h1>訂單管理</h1>

 <div class="col-xs-12 " >
    <div class="caption align-items-xl-center ">
                <h3></h3>
                <div class="row list-group-horizontal " >
           
                    <form method="get">
                       <div class="col-md-4 list-group-horizontal">                      
                        <input type="text" name="MemberName" class="" value="" id="Searchtext" placeholder="請輸入.."/>           
                        <input type="submit" class="btn btn-dark " value="Search" id="SearchClick" />
                @*<button class="btn btn-dark" id="SearchClick">Search</button>*@
                      </div>
                    </form>

                </div>

            </div>
        </div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Member.RealName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Member.EmailAccount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.State)
            </th>
           
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
             

            <td>
               @Html.DisplayFor(modelItem => item.Member.RealName)
            </td>
             <td>
               @Html.DisplayFor(modelItem => item.Member.EmailAccount)
             </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State)
            </td>
            
            <td>
                <a  asp-action="Edit" asp-route-id="@item.Id">編輯</a> |
                 <a asp-controller="OrderItems" asp-action="Details" asp-route-id="@item.Id">詳細資訊</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">刪除</a>
            </td>
        </tr>
}
    </tbody>
</table>


@section Scripts
    {
    <script>

        $("#SearchClick").on("click", function () {
           
            $.ajax({
                type:"GET",
                url: "https://localhost:7027/OrderDetails/Search/?account=" + $("#Searchtext").val()

            }).done(function(data){

            })
            .fail(function(err){err.statuxtext});
            
        } )

    </script>
}

