@model IEnumerable<ProjectFUEN.Models.EFModels.OrderDetail>

@{
    ViewData["Title"] = "Index";
}
<h1>Index</h1>


<div class="col-xs-12 ">
    <div class="caption align-items-xl-center ">
        <h3>Search</h3>
        <div class="row list-group-horizontal ">
            <div class="col-md-4 list-group-horizontal">
                商品名稱:
                <input type="text" name="productName" class="" value="">
                <input type="submit" class="btn btn-dark  " value="Search" />
            </div>
        </div>

    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.State)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Member)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.State)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Member.EmailAccount)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
