@model ProjectFUEN.Models.ViewModels.DeleteCouponVM

@{
    ViewData["Title"] = "Delete";
    int m = Model.discountType;
    string discountText = (m == 1) ? "折扣" : "折價";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Coupon</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Code)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Code)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Discount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Discount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.discountType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => discountText)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LeastCost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LeastCost)
        </dd>
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Count)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Count)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
