@model IEnumerable<ProjectFUEN.Models.EFModels.OrderDetail>
@using X.PagedList.Mvc.Core;
@using X.PagedList;
@using X.PagedList.Mvc.Core.Fluent
@using X.PagedList.Web.Common



@{
    ViewData["Title"] = "Index";
    var pagedList = (IPagedList)ViewBag.OrderDetail;
    var state = ViewBag.state as IEnumerable<SelectListItem>;



}



<h1>訂單管理</h1>

<div class="col-xs-12 ">
    <div class="caption align-items-xl-center ">
        <h3></h3>
        <div class="row list-group-horizontal ">


            @using (Html.BeginForm("Search", "OrderDetails", FormMethod.Get))
            {
                






                    <div class="input-group col-12 d-flex justify-content-center  ">



                        




@*                     <div class="col-4">出貨狀態:@Html.DropDownList("state", state, new { @class = "form-control" })</div>
                *@    <div class="col-4">出貨狀態:@Html.DropDownList("State", (IEnumerable<SelectListItem>)ViewBag.SelectList, new { @class = "form-control" })</div>
                    
                    <select name="state1">
                        <option value="0">未出貨</option>
                        <option value="1">已出貨</option>
                        <option value="2">已簽收</option>
                    </select>



                    <div class="input-group justify-content-center">
                        <input type="text" name="account" class=" " value="" id="Searchtext" placeholder="請輸入.." />
                        <button type="submit" class=" btn btn-dark   " value="" id="SearchClick">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>
                    </div>
                       
                    </div>

                    
                
            }
          

            @*
            <div class="col-md-4 list-group-horizontal">
            <input type="text" name="MemberName" class="" value="" id="Searchtext" placeholder="請輸入.."/>
            <input type="button" class="btn btn-dark " value="Search" id="SearchClick" />
            <button class="btn btn-dark" id="SearchClick">Search</button>
            </div>*@




        </div>

    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Member.RealName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Member.EmailAccount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.State)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Member.RealName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Member.EmailAccount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @GetStateName(item.State)
                </td>

                <td>
                    <a href="OrderDetails/Edit/@item.Id" data-fancybox data-type="iframe" class="fc1">
                        編輯
                    </a> |
                    <a asp-controller="OrderItems" asp-action="Details" asp-route-id="@item.Id">詳細資訊</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">刪除</a>
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td class="text-muted" colspan="5">
                第 @(pagedList.PageCount < pagedList.PageNumber ? 0 : pagedList.PageNumber) 頁，共 @pagedList.PageCount 頁。
                每頁 @pagedList.PageSize 筆資料，全部共有 @pagedList.TotalItemCount 筆資料。
            </td>
        </tr>
    </tfoot>


    <div style="align-content:center" class="text-dark page-custom1">

    @*    @(Html.Pager(pagedList)
            .Url(page => Url.Action("Index", new { page }))
            .Build())*@
        @Html.PagedListPager((IPagedList)pagedList, page =>
        Url.Action("Index", new { page = page }),
       
        new PagedListRenderOptions {

        LiElementClasses = new string[] { "page-item" },
        PageClasses = new string[] { "page-link" },

            LinkToFirstPageFormat="<<第一頁",
            LinkToPreviousPageFormat="<前一頁",
            LinkToNextPageFormat="後一頁>",
            LinkToLastPageFormat="最末頁>>"
       

        })

    </div>
</table>

@section Scripts
    {
    <script>


        $(".pagination li").css({
            "background-color": "yellow",
            "margin-right": "0.25em",
            "margin-left": "0.25em"

        })
        $(".pagination .active").css({ "background-color": "#ccc" })
        $(".pagination .PagedList-skipToNext").css({ "background-color": "red" })


        $('.fc1').fancybox({
            iframe: {
                css: {
                    width: '600px',
                    height: '500px',

                }
            },
            afterClose: function () {
                // 關閉後重load資料
                location.reload();
            }
        });

                //$("#SearchClick").on("click", function () {

                //    $.ajax({
                //        type:"GET",
                //        url: "https://localhost:7027/OrderDetails/Search/?account=" + $("#Searchtext").val()

                //    }).done(function(data){
                //        console.log(data)

                //    })
                //    .fail(function(err){err.statuxtext});

                //} )

                 
            })


    </script>
}

    @functions {
    public string GetStateName(int state)
    {
        string StateName = "";
        switch (state)
        {
            case 0:
                StateName = "未出貨";
                break;
            case 1:
                StateName = "已出貨";
                break;
            case 2:
                StateName = "運送中";
                break;
            case 3:
                StateName = "已簽收";
                break;
            case 4:
                StateName = "已完成";
                break;
            default:
                StateName = "訂單異常";
                break;

        }
        return StateName;
    }
}




