@model IEnumerable<ProjectFUEN.Models.ViewModels.PhotoReportIndexVM>

@{
    ViewData["Title"] = "Reports";
}

<h1>Reports</h1>

<div>
    <div class="mb-4">
        <select id="select">
            <option value="0">Photo</option>
            <option value="1">Comment</option>
        </select>
    </div>

    <div class="d-flex">
        <button id="del" class="btn btn-primary me-auto">Delete</button>

        <div>
            <label for="searchText">Account: </label>
            <input type="text" id="searchText" />
        </div>
    </div>
</div>


<table class="table">
    <thead>
        <tr>
            <th>
                <input type="checkbox" id="globalCheckbox"/>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reporter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Photo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReportTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr id="local">
            <td>
                <input type="checkbox"/>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reporter)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Photo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReportTime)
            </td>
            <td>
                <button class="btn btn-primary" id="@item.PhotoId" reporter="@item.MemberId">Delete</button>
            </td>
        </tr>
}
    </tbody>
</table>

@section Scripts {
    <script>
        // 全部勾選checkbox, global的checkbox也會勾選
        // const localElement = $("#local input[type='checkbox']");
        // const $globalElement = $("#globalCheckbox");
        //let localLength = localElement.length;

        // 點擊Global的checkbox, local全部都勾選
        $("thead").on("click", "#globalCheckbox", function () {

            console.log("XXXX")

            let localLength = $("#local input[type='checkbox']").length;

            if ($("#globalCheckbox").prop("checked")) {
                for (let i = 0; i < localLength; i++) {
                    let item = $("#local input[type='checkbox']").eq(i);

                    item.prop("checked", true);
                }
            } else {
                for (let i = 0; i < localLength; i++) {
                    let item = $("#local input[type='checkbox']").eq(i);

                    item.prop("checked", false);
                }
            }
        });

        // 當local的checkbox全部被勾選, global的checkbox被勾選
        // 當local的checkbox尚未全部被勾選, global的checkbox不可被勾選
        $("tbody").on("click", "#local input[type='checkbox']", function () {
            let localLength = $("#local input[type='checkbox']").length;
            let count = 0;
            for (let i = 0; i < localLength; i++) {
                let item = $("#local input[type='checkbox']").eq(i);

                if (item.prop("checked")) count++;
            }
            if (count === localLength) $("#globalCheckbox").prop("checked", true);
            else $("#globalCheckbox").prop("checked", false);
        });

        // 下拉選單, 選擇哪一個執行API
        $("select").on("change", function () {

            // if成立執行show Photo之Table
            if ($(this).val() === "0") {
                $.ajax({
                    type: "GET",
                    url: "https://localhost:7027/Reports/GetAllPhotoReports"
                }).done(function (data) {
                    showTable(data);
                }).fail(function (err) {
                    console.log(err.statusText)
                })
            }
            else {
                // Show Comment table
                $.ajax({
                    type: "GET",
                    url: "https://localhost:7027/Reports/GetAllCommentReports"
                }).done(function (data) {
                    showTable(data);
                }).fail(function (err) {
                    console.log(err.statusText)
                })
            }
        });

        // Search button
        $("#searchText").on("keyup", function () {
            let isComment = $("select").val();
            let searchText = $("#searchText").val();

            if (isComment === "0") {
                if (searchText !== "") {
                    $.ajax({
                        type: "GET",
                        url: `https://localhost:7027/Reports/GetPhotoReport?account=${searchText}`
                    }).done(function (data) {
                        showTable(data);
                    }).fail(function (err) {
                        console.log(err.statusText)
                    })
                }
                else {
                    $.ajax({
                        type: "GET",
                        url: "https://localhost:7027/Reports/GetAllPhotoReports"
                    }).done(function (data) {
                        showTable(data);
                    }).fail(function (err) {
                        console.log(err.statusText)
                    })
                }
            }
            else {
                if (searchText !== "") {
                    $.ajax({
                        type: "GET",
                        url: `https://localhost:7027/Reports/GetCommentReport?account=${searchText}`
                    }).done(function (data) {
                        showTable(data);
                    }).fail(function (err) {
                        console.log(err.statusText)
                    })
                }
                else {
                    $.ajax({
                        type: "GET",
                        url: "https://localhost:7027/Reports/GetAllCommentReports"
                    }).done(function (data) {
                        showTable(data);
                    }).fail(function (err) {
                        console.log(err.statusText)
                    })
                }
            }
        })

        // Delete Comment, Photo
        $("tbody").on("click", "button", function () {
            let isComment = $("select").val();
            let memberId = $(this).attr("reporter");
            let targetId = $(this).prop("id");
            const trs = $(`tbody [id=${targetId}]`)
            const tds = $(this).parent().parent().find("td");
            let text = `${tds.eq(2).text().trim()}`

            // Comment
            if (isComment === "1") {
                $.ajax({
                    type: "GET",
                    url: `https://localhost:7027/Reports/GetOneCommentReport?id=${targetId}`,
                    async: false
                }).done(function (data) {
                    text = data.comment;

                }).fail(function (err) {
                    console.log(err.statusText)
                })
            }

            Swal.fire({
                title: "Are you sure?",
                html: text,
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Remove'
            }).then((result) => {
                if (result.isConfirmed) {
                    Swal.fire(
                        'Removed!',
                        `${text} has removed`,
                        'success'
                    ).then((result) => {
                        // Delete DB Photo
                        if (isComment === "0") {
                            $.ajax({
                                type: "DELETE",
                                url: `https://localhost:7027/Reports/DeletePhoto?memberId=${memberId}&photoId=${targetId}`
                            }).done(function (data) {

                            }).fail(function (err) {
                                console.log(err.statusText)
                            })
                        }
                        // Delete DB Comment
                        else {
                            $.ajax({
                                type: "DELETE",
                                url: `https://localhost:7027/Reports/DeleteComment?memberId=${memberId}&commentId=${targetId}`
                            }).done(function (data) {

                            }).fail(function (err) {
                                console.log(err.statusText)
                            })
                        }

                        // Remove Trs
                        for (let i = 0; i < trs.length; i++) {
                            trs.eq(i).parent().parent().remove();
                        }
                    })
                }
            })
        });

        // 顯示Table
        function showTable(data) {
            let isComment = $("select").val();
            let targetHead = "Photo";
            if (isComment === "1") targetHead = "Comment";

            $("thead").empty();
            $("tbody").empty();

            let thead = $(`<tr>
                            <th>
                                <input type="checkbox" id="globalCheckbox"/>
                            </th>
                            <th>
                                Reporter
                            </th>
                            <th>
                                ${targetHead}
                            </th>
                            <th>
                                ReportTime
                            </th>
                            <th>
                            </th>
                        </tr>`);
            $("thead").append(thead);

            for (let item of data) {
                let targetData = item.photo
                let id = item.photoId
                if (isComment === "1") {
                    targetData = item.comment.substring(0, 10) + "...";
                    id = item.commentId
                }

                let tbody = $(`<tr id="local">
                                <td>
                                    <input type="checkbox" id="${item.id}"/>
                                </td>
                                <td>
                                    ${item.reporter}
                                </td>
                                <td>
                                    ${targetData}
                                </td>
                                <td>
                                    ${item.reportTime}
                                </td>
                                <td>
                                    <button class="btn btn-primary" id="${id}" reporter="${item.memberId}">Delete</button>
                                </td>
                            </tr>`)

                $("tbody").append(tbody);
            }
        }
    </script>
}