@model IEnumerable<ProjectFUEN.Models.EFModels.Brand>

@{
    ViewData["Title"] = "Index";
}

<h1>品牌管理</h1>

<p>
    @Html.ActionLink("新增", "Create")
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                    @Html.ActionLink("修改", "Edit", new { id=item.Id }) |
                    @Html.ActionLink("明細", "Details", new { id=item.Id }) |
                    @Html.ActionLink("刪除", "Delete", new { id=item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
